:focus {outline:none;}

body {
    font-family: 'Abel', arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.625;
    color: #353B44;
}

h1 {
    padding: 30px;
}

h2, h3 {
    padding: 15px;
    border-bottom: 1px solid #B6B6B6;
}

i {
    padding-left: 10px;
    padding-right: 10px;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

/*************************/
/*        Content        */
/*************************/

section {
    min-height: 350px;
}

#social a {
    color: #AAA;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
      -o-transition:all 0.3s ease;
         transition:all 0.3s ease;
}

#social a:hover,
#social a:focus,
#social a:active {
    color: #EEE;
}

#sections {
    padding-bottom: 30px;
}

#about-me {
    color: #EEE;
    background-color: #384047;

    padding: 30px;
}

#contact-me {
    padding-bottom: 30px;
}

.dark-button {
    margin: 10px;
    padding: 10px 15px;

    color: #EEE;
    background-color: #3F4E53;
}

.blue-button {
    margin: 10px;
    padding: 10px 15px;

    color: #EEE;
    background-color: #53D1DB;
}

.dark-button:hover,
.dark-button:active,
.dark-button:focus,
.blue-button:hover,
.blue-button:active,
.blue-button:focus {
    color: #FFF;
}

.fa-6 {
    color: #53D1DB;
    font-size: 200px;
}

.tab-content {
    padding-top: 20px;
}

.nav-tabs {
    background-color: #384047;
}

.nav-tabs-left > li {
    float: left;
}

.nav-tabs-right > li {
    float: right;
}

.nav-tabs > li {
    min-width: 25%;
}

.nav-tabs > li > a {
    color: #EEE;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:active {
    color: #555;
}

.centered {
    text-align: center;
}

.info-container {
    height: 250px;
    min-height: 250px;
}

.info-container, .full-center-container {
    display: table;
    vertical-align: middle;
}

.full-center {
    display: table-cell;
    vertical-align: middle;
}

/*************************/
/*           Logo        */
/*************************/

.tag-line {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #737C7F;
}

.logo {

    font-family: 'Exo 2', sans-serif;
    font-size: 64px;
    padding: 10px 0;

    cursor: pointer;
}

.logo .tag-line {
    font-size: 32px;
}

.logo .icon {
    position: relative;
    color: #EEE;
    top: -15px;
    font-weight: normal;
}

.logo .name1 {
    padding: 10px 0;
    color: #53D1DB;
}

.logo .name2 {
    padding: 20px 20px;

    color: #EEE;
    background-color: #1c242a;
    -webkit-border-top-right-radius: 15px;
       -moz-border-radius-topright: 15px;
            border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
       -moz-border-radius-topleft: 15px;
            border-top-left-radius: 15px;
}

.small-logo {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;

    cursor: pointer;
}

.small-logo .tag-line {
    font-size: 16px;
}

.small-logo .name1 {
    font-weight: bold;
    padding: 6px 0;
    color: #53D1DB;
}

.small-logo .name2 {
    padding: 6px 6px;

    color: #EEE;
    background-color: #1c242a;
    -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
       -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
}


/*************************/
/*    Navigation Menu    */
/*************************/

#navigation-menu {
    background: #384047;
    border-top: 5px solid #53D1DB;
    margin: 0;

    width: 100%;
    display: table;
    vertical-align: middle;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

#navigation-menu.tiny {
    height:76px;

    position:fixed;
    top:0;
    left:0
}

#navigation-menu.robin {
    height: 560px;
}

.main-nav {
    position: relative;
    left: 0;
    top: 15px;
    width: 100%;
}

.dropdown-menu li {
    float: left;
    width: 100%;
    text-align: left;
    text-indent: 20px;
}

/********************************/
/*             Footer           */
/********************************/

footer {
    height: 100%;
    background: #384047;
    border-top: 5px solid #53D1DB;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

footer a {
    display: block;
    color: #fff;
    line-height: 18px;
    font-size: 14px;
    padding: 16px 0;
}

footer a:focus,
footer a:active,
footer a:hover {
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: #1c242a;
    -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
       -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
}

footer .row {
    margin-top: 20px;
}

/**********************************/
/*          Social Sharing        */
/**********************************/

.social{position:fixed;top:30%;left:0;-webkit-perspective:1000px;-moz-perspective:1000px;perspective:1000px;-webkit-user-select:none;-webkit-touch-callout:none;-moz-user-select:none;-ms-user-select:none;padding: 0;list-style-type: none}
.social li{list-style: none;}
.social li a{position:relative;width:40px;background:#384047;border-bottom:1px solid #333;font:normal normal normal 16px/20px Electrolize, Helvetica, Arial, sans-serif;color:#fff;-webkit-font-smoothing:antialiased;text-decoration:none;text-align:center;-webkit-transition:background .5s ease .300ms;-moz-transition:background .5s ease .300ms;-o-transition:background .5s ease .300ms;transition:background .5s ease .300ms;padding:10px}
.social li:first-child a{background:#3b5998}
.social li:nth-child(2) a{background:#00acee}
.social li:nth-child(3) a{background:#dd4b39}
.social li:nth-child(4) a{background:#c92228}
.social li:nth-child(5) a{background:#ff4500}
.social li:first-child a{-webkit-border-radius:0 5px 0 0;-moz-border-radius:0 5px 0 0;border-radius:0 5px 0 0}
.social li:last-child a{-webkit-border-radius:0 0 5px 0;-moz-border-radius:0 0 5px;border-radius:0 0 5px 0}
.social li a span{float:left;text-align:center;background:#222;color:#fff;-webkit-transform-origin:0;-moz-transform-origin:0;transform-origin:0;visibility:hidden;opacity:0;-webkit-transform:rotateY(45deg);-moz-transform:rotateY(45deg);transform:rotateY(45deg);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-transition:all .2s ease-in .300ms;-moz-transition:all .2s ease-in .300ms;-o-transition:all .2s ease-in .300ms;transition:all .2s ease-in .300ms;margin:-25px 74px;padding:8px}
.social li span:after{content:'';display:block;width:0;height:0;position:absolute;left:-20px;top:7px;border-left:10px solid transparent;border-right:10px solid #222;border-bottom:10px solid transparent;border-top:10px solid transparent}
.social li a:hover span{visibility:visible;opacity:1;-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}


/************************************/
/*          Disqus Integration      */
/************************************/
#disqus_thread {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 40px;
    padding-left: 80px;
}