body {
    font-family: 'Abel', arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.625;
    color: #353B44;
}

h1 {
    padding: 30px;
}

h2, h3 {
    padding: 15px;
    border-bottom: 1px solid #B6B6B6;
}

i {
    padding-left: 10px;
    padding-right: 10px;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

/*************************/
/*        Content        */
/*************************/

section {
    min-height: 350px;
}

#sections {
    padding-bottom: 30px;
}

#about-me {
    color: #EEE;
    background-color: #384047;

    padding: 30px;
}

#contact-me {
    padding-bottom: 30px;
}

.dark-button {
    margin: 10px;
    padding: 10px 15px;

    color: #EEE;
    background-color: #3F4E53;
}

.blue-button {
    margin: 10px;
    padding: 10px 15px;

    color: #EEE;
    background-color: #53D1DB;
}

.dark-button:hover,
.dark-button:active,
.dark-button:focus,
.blue-button:hover,
.blue-button:active,
.blue-button:focus {
    color: #FFF;
}

.fa-6 {
    color: #53D1DB;
    font-size: 200px;
}

.tab-content {
    padding-top: 20px;
}

.nav-tabs {
    background-color: #384047;
}

.nav-tabs > li {
    float: right;
    min-width: 25%;
}

.nav-tabs > li > a {
    color: #EEE;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:active {
    color: #555;
}

.centered {
    text-align: center;
}

.info-container {
    height: 250px;
    min-height: 250px;
}

.info-container, .full-center-container {
    display: table;
    vertical-align: middle;
}

.full-center {
    display: table-cell;
    vertical-align: middle;
}

/*************************/
/*           Logo        */
/*************************/

.tag-line {
    margin: 10px;
    color: #737C7F;
}

.logo {

    font-family: 'Exo 2', sans-serif;
    font-size: 64px;
    padding: 10px 0;

    cursor: pointer;
}

.logo .tag-line {
    font-size: 32px;
}

.logo .icon {
    position: relative;
    color: #EEE;
    top: -15px;
    font-weight: normal;
}

.logo .name1 {
    padding: 10px 0;
    color: #53D1DB;
}

.logo .name2 {
    padding: 20px 20px;

    color: #EEE;
    background-color: #1c242a;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.small-logo {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    padding: 6px 0;
    margin-top: 20px;

    cursor: pointer;
}

.small-logo .tag-line {
    font-size: 16px;
}

.small-logo .name1 {
    font-weight: bold;
    padding: 6px 0;
    color: #53D1DB;
}

.small-logo .name2 {
    padding: 6px 6px;

    color: #EEE;
    background-color: #1c242a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


/*************************/
/*    Navigation Menu    */
/*************************/

#navigation-menu.robin {

    height: 560px;
    background: #384047;
    border-top: 5px solid #53D1DB;
    margin: 0;

    width: 100%;
    display: table;
    vertical-align: middle;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

/********************************/
/*             Footer           */
/********************************/

footer {
    height: 100%;
    background: #384047;
    border-top: 5px solid #53D1DB;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

footer a {
    display: block;
    color: #fff;
    line-height: 18px;
    font-size: 14px;
    padding: 16px 0;
}

footer a:focus,
footer a:active,
footer a:hover {
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: #1c242a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

footer .row {
    margin-top: 20px;
}