article {
    display: block;
    padding: 20px;
}

article.post {
    margin-top: 120px;
    padding-left: 80px;
}

.article-header {
    color: #8C989E !important;
    border-bottom: 1px solid #B6B6B6;
}

.article-meta {
    padding-bottom: 10px;
}

.article-content {
    padding-top: 10px;
}

.article-title {
    color: #384047;
    text-decoration: none;

    font-size: 1.8em;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    padding-bottom: 0px;
    clear: both;

    margin-bottom: 10px;
}

.article-title a {
    color: #384047;
    text-decoration: none;
}

.article-title a:hover,
.article-title a:focus,
.article-title a:active {
    color: #D24D33;
    text-decoration: none;
}

.seperator {
    padding: 0px 5px;
    position: relative;
    top: -1px;

    z-index: -1000;
}

.article-author,
.article-author a {
    color: #D24D33;
    padding-right: 3px;
    text-decoration: none;
}

.article-author a:hover,
.article-author a:focus,
.article-author a:active {
    text-decoration: none;
}

.article-category,
.article-category a {
    color: #5FCF80;
    padding-right: 3px;
    text-decoration: none;
}

.side-article-header {
    font-size: 13px;
    color: #8C989E !important;
    margin-bottom: 10px;
}

.side-article-title {
    color: #384047;
    text-decoration: none;

    font-size: 1.2em;
    line-height: 0.6em;
    letter-spacing: -0.01em;
    padding-bottom: 0px;
    clear: both;

    margin-bottom: 5px;
}

.side-article-title a {
    text-decoration: none;
}

.side-article-title a:hover,
.side-article-title a:focus,
.side-article-title a:active {
    text-decoration: none;
}

.side-article-author,
.side-article-author a {
    color: #D24D33;
    padding-right: 2px;
    text-decoration: none;
}

.side-article-author a:hover,
.side-article-author a:focus,
.side-article-author a:active {
    text-decoration: none;
}

.side-article-category,
.side-article-category a {
    color: #5FCF80;
    padding-right: 2px;
    text-decoration: none;
}

.side-section-title {
    color: #494D57;

    font-weight: bold;

    margin-bottom: 5px;
    border-bottom: 1px solid #666;
}

.side-section-content {
    margin-top: 10px;
    margin-bottom: 20px;
}

.navigation {
    font-weight: bold;

    font-size: 16px;

    padding-left: 20px;
    padding-right: 20px;

    margin-bottom: 20px;

    text-align: right;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover,
.navigation a:focus,
.navigation a:active {
    text-decoration: none;
}

.sidebar {

    font-size: 16px;
    font-family: 'Slabo 27px', serif;

    padding: 0;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.sidebar li a {
    outline: none;
    padding: 0px 2px;
}

.sidebar li ul li a {
    outline: none;
    padding: 0px 20px;
}

.sidebar li a:hover,
.sidebar li a:focus,
.sidebar li a:active {
    background-color: transparent;
}

