---
layout: default
---

{% include opensource.html %}

{% for post in site.tags['science'] limit:1 %}
{% if post.type != 'dummy' %}
    {% include lead_article_snippet.html post=post %}
{% endif %}
{% endfor %}

{% for post in site.tags['science'] offset:1 limit:5 %}
{% if post.type != 'dummy' %}
    {% include article_snippet.html post=post %}
{% endif %}
{% endfor %}

<div class="ui section hidden divider"></div>
<div class="ui large header center aligned">
    <a class="ui very huge button blue" href="/tag/science">
        Click here to see all posts
    </a>
</div>
