---
layout: fullpage
---

<div class="ui text container">
    <div class="ui items">
        <div class="ui item">
            <div class="ui medium circular image">
                <img src="/static/images/profiles/arpit-logo-3.png" />
            </div>
            <div class="middle aligned content">
                <span class="ui header">Hi! I am Arpit</span>
                <br/>
                {{ site.description }}
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>

<div class="ui hidden divider"></div>
<div class="ui stackable grid basic segment">
    <div class="row">
        <div class="ui ten wide column">
            <div class="">
                {% assign count = 0 %}
                {% for post in site.posts %}
                    {% if post.type != 'dummy' and site.blog_types contains post.categories[0] %}
                        <div class="ui basic segment">
                            <h3 class="">
                                <a href="{{post.url}}">
                                    {{post.title}}
                                </a>
                            </h3>
                            <p>
                                <i class="calendar icon"></i> {{post.date | date: '%B %d, %Y'}}
                            </p>
                            <div class="ui divider"></div>
                            <p>
                                {{post.excerpt}}
                            </p>
                            <p>
                                <a href="{{post.url}}">
                                    Read More
                                </a>
                            </p>
                        </div>
                        {% assign count = count | plus: 1 %}
                    {% endif %}
                    {% if count > 0 %}
                      {% break %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="ui six wide column">
            <h4 class="ui tiny header">
                Recent Blogs
            </h4>
            <div class="ui fitted divider"></div>
            <div class="ui list">
                {% assign count = 0 %}
                {% for post in site.posts offset:1 %}
                    {% if post.type != 'dummy' and post.categories[0] == 'techie' %}
                        <div class="ui item">
                            <a href="{{post.url}}">
                                {{post.title}}
                            </a>
                            <div class="ui divider"></div>
                        </div>
                        {% assign count = count | plus: 1 %}
                    {% endif %}
                    {% if count > 4 %}
                      {% break %}
                    {% endif %}
                {% endfor %}
                <p class="ui right aligned basic segment">
                    <a href="{% post_url 1979-01-01-techie %}">All Tech Articles</a>
                </p>
            </div>
        </div>
    </div>
</div>
