<div class="ui basic segment">
  <p>Hi, my name is Arpit and I’m an avid programmer, passionate about code, design, startups and technology.</p>
  <p>Currently I am working at <a href="https://www.practo.com">Practo</a>, a healthcare startup, as a <b>Platform Engineer</b>.</p>
  <p>
    In my free time I write <a href="/tag/techie">Tech Articles</a>, read, play games, participate in contests, conferences or hackathons,
    and write about what interests me in <a href="/tag/science">science</a>.
  </p>
  <p>Feel free to <a href="mailto:arpit.b.bhayani@gmail.com">email</a> me if you'd like to get in touch.</p>
  {% include social_icons.html %}
</div>
