<div class="ui one column padded grid center aligned">
  <div class="ui row">
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <i class="bullseye icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            Sr. Software Engineer at <a href="http://www.practo.com">Practo</a>
            <div class="date">
              April 2016-Present
            </div>
          </div>
          <div class="">
            <p>
              <div>
                <img class="ui right floated small image" src="https://www.practo.com/bundles/practopractoapp/images/logos/practo_logo.svg"/>
              </div>
              <p>Responsibilities:</p>
              <ul>
                <li>Designing and developing internal tools.</li>
                <li>Managing staging and production environment and infrastructure.</li>
              </ul>
              <p>Highlights:</p>
              <ul>
                <li>Lead the product that enables incremental release of new features launched.</li>
                <li>Lead the product that in real time identifies anomalies in the system by analysing production data.</li>
                <li>Owner of a product that exposes database as a service and ensures high horizontal scalability and availability.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="bullseye icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            Software Engineer at <a href="http://www.practo.com">Practo</a>
            <div class="date">
              September 2015-March 2016
            </div>
          </div>
          <div class="">
            <p>
              <div>
                <img class="ui right floated small image" src="https://www.practo.com/bundles/practopractoapp/images/logos/practo_logo.svg"/>
              </div>
              <p>Responsibilities:</p>
              <ul>
                <li>Designing and developing internal tools.</li>
                <li>Managing staging and production environment and infrastructure.</li>
              </ul>
              <p>Highlights:</p>
              <ul>
                <li>Owner of product that automates the task of populating staging instances with random yet meaningful data.</li>
                <li>Lead developer of a project that exposes database as a service and ensures high horizontal scalability and availability.</li>
                <li>Owner of internal tool that manage staging environment, instances and infrastructure.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="bullseye icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            Associate Software Engineer at <a href="http://www.saba.com">Saba Softwares</a>
            <div class="date">
              July 2012 - July 2013
            </div>
          </div>
          <div class="">
            <p>
              <div>
                <img class="ui right floated small image" src="https://www.saba.com/images/common/saba-logo.png"/>
              </div>
              <p>Responsibilities:</p>
              <ul>
                <li>Full Stack developer</li>
                <li>Java API design and development</li>
                <li>Performance improvement</li>
                <li>Refactoring and database design</li>
              </ul>
              <p>Highlights:</p>
              <ul>
                <li>Developed Offline reviews feature in Saba's SPC Product</li>
                <li>Developed Language Check feature for Saba's Internal Tool</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
