<div class="ui one column padded grid center aligned">
  <div class="ui row">
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <i class="bullseye icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            DevOps Engineer at <a href="http://www.practo.com">Practo</a>
            <div class="date">
              August 2015-Present
            </div>
          </div>
          <div class="meta">
            <p>
              <p>Responsibilities:</p>
              <ul>
                <li>Designing and developing internal tools.</li>
                <li>Managing staging and production environment and infrastructure.</li>
              </ul>
              <p>Highlights:</p>
              <ul>
                <li>Owner of product that automates the task of populating staging instances with random yet meaningful data.</li>
                <li>Lead developer of a project that exposes database as a service and ensures high horizontal scalability and availability.</li>
                <li>Owner of internal tool that manage staging environment, instances and infrastructure.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="bullseye icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            Associate Software Engineer at <a href="http://www.saba.com">Saba Softwares</a>
            <div class="date">
              July 2012 - July 2013
            </div>
          </div>
          <div class="meta">
            <p>
              <p>Responsibilities:</p>
              <ul>
                <li>Full Stack developer</li>
                <li>Java API design and development</li>
                <li>Performance improvement</li>
                <li>Refactoring and database design</li>
              </ul>
              <p>Highlights:</p>
              <ul>
                <li>Lead developer of Offline reviews feature</li>
                <li>Language Check feature</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
