<div class="ui one column padded grid center aligned">
  <div class="ui row">
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="/static/images/arpit.jpg">
        </div>
        <div class="content">
          <div class="summary">
            Post graduation from <a href="http://www.iiit.ac.in">IIIT, Hyderabad</a> in Data Science
            <div class="date">
              July 2013 - May 2015
            </div>
          </div>
          <div class="meta">
            <p>
            </p>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/static/images/arpit.jpg">
        </div>
        <div class="content">
          <div class="summary">
            Graduation from <a href="http://www.coep.org.in/">CoEP</a> in Information Technology
            <div class="date">
              June 2008 - May 2012
            </div>
          </div>
          <div class="meta">
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
