<div class="ui basic segment">
  <a href="https://www.codementor.io/arpitbhayani?utm_source=github&utm_medium=button&utm_term=arpitbhayani&utm_campaign=github"><img src="https://cdn.codementor.io/badges/i_am_a_codementor_dark.svg" alt="I am a codementor" style="max-width:100%"/></a>
  <p>I'm also a mentor on <a href="https://www.codementor.io/arpitbhayani?utm_source=github&utm_medium=button&utm_term=arpitbhayani&utm_campaign=github">Codementor</a> where I either teach programming or I help users debug, fix and refactor their code.</p>
  <p>Need to design a scalable architecture or need help with chosing the right technology stack for your product?</p>
  <p>I'll help you effectively launch and grow your product.</p>
  <p>With an in-depth understanding of all the three phases: <b>develop, design and deploy</b>, I'll guide you to grow your product into something <b>BIG<b>.</p>
</div>
