{% for p in paginator.posts %}
      <article>
            <div class="article-header">
                  <div class="article-title">
                        <a href="{{p.url | prepend: site.baseurl}}">{{p.topic}} | {{p.title}}</a>
                  </div>
                  <div class="article-meta">
                        <span class="article-author">
                              {{p.author}}
                        </span>
                        <span class="seperator">|</span>
                        <span class="article-date">
                              {{p.date | date: '%B %d, %Y' }}
                        </span>
                        <span class="seperator">|</span>
                        <span class="article-category">
                              {{p.category}}
                        </span>
                  </div>
            </div>
            <div class="article-content">
                  <span class="content">
                        {{p.excerpt}}
                  </span>
                  <span class="continue-reading">
                        <a href="{{p.url | prepend: site.baseurl}}">Continue reading 
                              <span class="meta-nav">→</span>
                        </a>
                  </span>
            </div>
      </article>
{% endfor %}


{% if paginator.total_pages > 1 %}
      <div class="pagination">
            {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            {% else %}
            <span>&laquo; Prev</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                  {% if page == paginator.page %}
                        <em>{{ page }}</em>
                  {% elsif page == 1 %}
                  
                  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">   {{ page }}
                  </a>
                  {% else %}
                  
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
                        {{ page }}
                  </a>
                  {% endif %}

            {% endfor %}

            {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;
                  </a>
            {% else %}
                  <span>Next &raquo;</span>
            {% endif %}
      </div>
{% endif %}