{% assign post=include.post %}
<article>
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui segment basic">
                <div class="ui fluid image">
                    <div class="ui green ribbon label">
                        <i class="date icon"></i>{{post.date | date: '%B %d, %Y'}}
                    </div>
                    <a href='{{post.url}}'><img src="{{post.img}}"></a>
                </div>
            </div>
        </div>
        <div class="twelve wide column fluid">
            <div class="ui basic segment">
                <div class="">
                {% for tag in post.tags %}
                    <a href='/tag/{{tag}}' class="ui grey label basic" data-content="See all posts tagged with {{tag}}" data-variation="tiny">{{tag}}</a>
                {% endfor %}
                </div>
                <br/>
                <div class="">
                    <a href="{{post.url}}" class="ui large header">{{post.title}}</a>
                </div>
                <div class="ui divider"></div>
                <div class="">
                    <div class="description">{{post.excerpt| markdownify}}</div>
                </div>
                <div class="">
                    <br/><a href='{{post.url}}'>Read More</a>
                </div>
            </div>
        </div>
    </div>
</article>
