{% assign post=include.post %}
<div class="ui fluid card borderless">
    <a class="ui image" href="{{ post.url }}" style="width: 100%; height: auto; max-height: 300px;">
        <img src="{{ post.gif }}">
    </a>
    <div class="content">
        <a href="{{ post.url }}">
            <span class="ui black text small header">{{ post.title }}</span>
        </a>
    </div>
    <div class="meta">
        <p class="ui small text">{{ post.seo.description | truncate: 85 }}</p>
        <a class="ui tiny text" href="{{ post.url }}">Read More</a>
    </div>
</div>
