<footer class="ui column centered grid" style="background-color: #FAFAFA;">
  <div class="row">
      <div class="ui borderless menu main-nav-menu" style="box-shadow: None; border: 0; z-index: 2; margin: 0; padding: 0; background-color: #FAFAFA;">
          <a class=" item" href="{% post_url 1979-01-01-all-posts %}">
              <i class="database icon"></i>
              Archives
          </a>
          <a class=" item" href="/feed.xml">
              <i class="rss icon"></i>
              RSS Feed
          </a>
          <a class=" item" href="{% post_url 1979-01-01-disclaimer %}">
              <i class="announcement icon"></i>
              Disclaimer
          </a>
      </div>
  </div>
  <div class="row">
      <div class="column center aligned">
          Hosted on <a href="https://github.com/arpitbbhayani/arpitbbhayani.github.io">Github</a>.<br/>
          Designed and developed with <i class="heart red icon"></i>by <a class="" href="{% post_url 1979-01-01-about-me %}">me</a>.
      </div>
  </div>
</footer>
