<footer style="background: #ffe136;">
    <div class="ui column centered grid">
        <div class="row">
            <div class="column center aligned">
                <a class="item" href="{% post_url 1979-01-01-disclaimer %}">Disclaimer</a><br/>
            </div>
        </div>
        <div class="row">
            <p>
                Designed & Built by Arpit Bhayani<br/>
                <a class="ui small grey text" href="https://github.com/arpitbbhayani/arpitbbhayani.github.io/">View Source</a>
            </p>
        </div>
    </div>
</footer>
