<div class="ui secondary basic fixed small menu center aligned">
    <a class="item" href="/" >
        <div class="ui small image">
            <img src="/static/images/profiles/arpit-logo-1.png" />
        </div>
    </a>
    <a class="{% if page.url == '/techie.html' %}active{% endif %} item" href="{% post_url 1979-01-01-techie %}">TECH ARTICLES</a>
    <a class="{% if page.url == '/blogs.html' %}active{% endif %} item" href="{% post_url 1979-01-01-blogs %}">BLOGS</a>
    <a class="{% if page.url == '/mrcup.html' %}active{% endif %} item" href="{% post_url 1979-01-01-mrcup %}">MR CUP</a>
    <a class="{% if page.url == '/talks.html' %}active{% endif %} item" href="{% post_url 1979-01-01-talks %}">TALKS</a>
    <a class="{% if page.url == '/projects.html' %}active{% endif %} item" href="{% post_url 1979-01-01-projects %}">PROJECTS</a>
    <a class="item" href="https://hpse.arpitbhayani.me">
        HARRY POTTER SEARCH ENGINE
    </a>
    <a class="item" target="_blank" href="/static/arpit-bhayani-resume.pdf">RESUME</a>
</div>
