<div class="ui borderless menu" style="background-color: #161b2d; border-radius: 0;">
    <a href='/' class="item">
        <div class="small-logo">
            <span class="name1">
                Arpit
                <span class="name2">Bhayani</span>
            </span>
            <div class="tag-line">
                {{site.tagline}}
            </div>
        </div>
    </a>
    <div class="right menu item">
        <a class="white item" href="/blogs">
            Blogs
        </a>
        <a class="white item" href="/works">
            Works
        </a>
        <a class="white item" href="/competitive-programming">
            Competitive Programming
        </a>
        <a class="white item" href="/competitive-programming">
            Who am I?
        </a>
    </div>
</div>
