<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- General Meta -->
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords}},{% endif %}{{site.keywords}}"/>
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">

    <!-- Facebook -->
    <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
    <meta property="og:site_name" content="ArpitBhayani">
    <meta property="og:locale" content="en_us">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="og:image" 
        content="{% if page.share_img %}{{site.url}}{{page.share_image}}{% else %}{{site.url}}{{site.share_image}}{% endif %}"/>
    <meta property="fb:app_id" content="302184056577324"/>

    <link rel="canonical" href="{{site.url}}{{page.url}}">


</head>