<head>
  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script src="/static/semantic/dist/semantic.min.js"></script>
  <script src="/static/js/scrollProgress.js"></script>
  <script src="/static/js/lightbox.js"></script>
  <script src="/static/js/index.js"></script>

  {% if page.url == '/' %}
  <script src="/static/js/particleground.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#particles').particleground({
      // dotColor: 'rgba(245, 107, 107, 0.33)',
      // lineColor: 'rgba(245, 107, 107, 0.33)'
      dotColor: '#BBB',
      lineColor: '#BBB'
    });
    $('.intro').css({
      'margin-top': -($('.intro').height() / 2)
    });
  });
  </script>
  {% else if page.url == '/about-me.html' %}
  <script>
  $(document).ready(function() {
    $('.item[data-tab]').tab();
  });
  </script>
  {% endif %}

</head>
