{% capture talks_home %}{% post_url 1979-01-01-talks %}{% endcapture %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% if page.mathjax %}
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    {% endif %}
    <script src="/static/js/semantic-2.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>
