<head>
    <link rel="stylesheet" href="/static/css/ux.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script src="/static/js/scrollProgress.js"></script>
    <script src="/static/js/lightbox.js"></script>
</head>
