<nav id="navigation-menu" class="navbar robin centered" role="navigation">
    <div class="full-center">
        <div class="logo">
            <span class="name1">
                Arpit
                <span class="name2">Bhayani</span>
            </span>
            <div class="tag-line">
                {{site.tagline}}
            </div>
        </div>
        <div id="social">
            <a href="http://www.facebook.com/itsmearpit" target="_blank" title="Befriend me on Facebook">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="http://github.com/arpitbbhayani" target="_blank" title="Follow me on Github">
                <i class="fa fa-github fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/profile/view?id=42931734" target="_blank" title="Connect me on LinkedIn">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="{{ "/files/ArpitBhayaniResume.pdf" | prepend: site.baseurl }}" target="_blank" title="Find my resume here">
                <i class="fa fa-paperclip fa-2x"></i>
            </a>
        </div>
    </div>
</nav>