<section class="module parallax parallax-1" style='background-image: url("");'>
    <div class="ui basic segment center aligned">
        <div class="ui basic segment" style="font-size: 26px;">
            <div class="ui white huge header" style="font-weight: normal;">
                #opensource
            </div>
        </div>
        <div class="ui basic segment center aligned">
            <div class="ui horizontal list">
                <div class="item">
                    <div class="ui very relaxed list">
                        <div class="item">
                            <a href="http://codeville.org.in/quora" data-content="Live demo" data-variation="tiny"><i class="big white wizard icon"></i></a>
                            <a href="http://github.com/arpitbbhayani/quora-widget" data-content="Source Code" data-variation="tiny"><i class="big white github icon"></i></a>
                        </div>
                        <div class="item">
                            <div class="ui red label huge" data-content="Quora cards and widgets for your website" data-variation="very wide">
                                Quora - Widget
                            </div>
                        </div>
                        <div class="item">
                            <iframe src="https://ghbtns.com/github-btn.html?user=arpitbbhayani&repo=quora-widget&type=star&count=true&size=large" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                        </div>
                        <div class="item">
                            <p style="color: white;"><i class="user icon"></i><b>43</b> happy users :-)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
