<style>
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600|Just+Me+Again+Down+Here);
.shouldbe {border-bottom:2px solid white;font-family: 'Just Me Again Down Here', cursive; padding:0 10px; font-size:48px !important; font-weight: normal !important;}
</style>

<script>
var index = 0;
var wordlist = ['I am a programmer', 'I breathe when I code', 'I write tech blogs', 'I write science articles'],
randomWordInt;
function changeWord() {
    randomWordInt = setInterval(randomWord, 3000);
}
function randomWord() {
    index  = index + 1;
    index = index % wordlist.length;
    var i = index;
    var shouldBe = wordlist[i];
    $('.shouldbe').fadeOut('fast', function(){
        $('.shouldbe').text(shouldBe);
    });
    $('.shouldbe').fadeIn('fast');
}
changeWord();

</script>

<div style="padding-top: 35px; margin-bottom: 35px; height: 100px;">
    <div class="ui large header center aligned" style="line-height: 80px; color: #27619D;">
        <span class="shouldbe">I am a programmer</span>.
    </div>
</div>
