{% assign post=include.post %}
<div class="item">
    <div class="content">
        <article>
            <div class="ui basic segment left aligned">
                <a href="{{post.url}}">
                    <h2 class="ui huge text">{{post.title}}</h2>
                </a>
                <div class="ui divider"></div>
                <div class="description">{{post.seo.description | truncate: 200 }}</div>
                <div class="ui left aligned nospace basic segment">
                    <iframe src="https://ghbtns.com/github-btn.html?user={{post.github_user}}&size=large&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
                    <iframe src="https://ghbtns.com/github-btn.html?user={{post.github_user}}&size=large&repo={{post.repo}}&type=star&count=true" frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
                </div>
            </div>
        </article>
    </div>
</div>
