<div class="side-section-title">
	Quick Links
</div>
<nav> 
	<ul class="nav sidebar">
	{% for topic in site.data.data[page.category] %}
		<li>
			<a id="{{topic.topicid}}" href="javascript:return false;" data-toggle="collapse" data-target="#{{topic.articlesid}}" aria-expanded="true">
				{{topic.topic}}<span class="caret"></span>
			</a>

			<ul id="{{topic.articlesid}}" class="nav collapse" role="menu" aria-labelledby="{{topic.topicid}}">
				{% for article in topic.articles %}
					<li><a href="{{article.link | prepend: site.baseurl}}">{{article.name}}</a></li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</nav>