<div class="ui small icon borderless compact menu">
    <div class="item" data-content="Drop me an email" data-variation="tiny" data-position="bottom center">
        <a href="mailto:arpit.b.bhayani@gmail.com">
            <i class="mail large red icon inverted"></i>
        </a>
    </div>
    <div class="ui item" data-content="Here's my resumé" data-variation="tiny" data-position="bottom center" >
        <a href="/static/arpit_resume.pdf">
            <i class="download large orange inverted icon"></i>
        </a>
    </div>
    <div class="ui item" data-content="Github profile" data-variation="tiny" data-position="bottom center" >
        <a href="https://github.com/arpitbbhayani">
            <i class="github large black inverted icon"></i>
        </a>
    </div>
    <div class="ui item" data-content="Befriend me on facebook." data-variation="tiny" data-position="bottom center">
        <a href="https://facebook.com/oftenweird">
            <i class="facebook large blue inverted icon"></i>
        </a>
    </div>
</div>
