<div class="ui center aligned container">
    <div class="ui hidden divider"></div>
    <div class="ui small icon borderless compact menu">
        <div class="ui item" data-content="Say Hi!" data-variation="tiny" data-position="bottom center">
            <a href="mailto:arpit.b.bhayani@gmail.com">
                <i class="mail large grey icon"></i>
            </a>
        </div>
        <div class="ui item" data-content="Here's my resumé" data-variation="tiny" data-position="bottom center" >
            <a href="/static/arpit_resume.pdf">
                <i class="download large grey icon"></i>
            </a>
        </div>
        <div class="ui item" data-content="Checkout my cool github projects." data-variation="tiny" data-position="bottom center" >
            <a href="https://github.com/arpitbbhayani">
                <i class="github large grey icon"></i>
            </a>
        </div>
        <div class="ui item" data-content="My social activity." data-variation="tiny" data-position="bottom center">
            <a href="https://facebook.com/itsmearpit">
                <i class="facebook large grey icon"></i>
            </a>
        </div>
        <div class="ui item" data-content="I try to stay professional!" data-variation="tiny" data-position="bottom center">
            <a href="https://www.linkedin.com/in/arpitbhayani">
                <i class="linkedin large grey icon"></i>
            </a>
        </div>
        <div class="ui item" data-content="My rants!" data-variation="tiny" data-position="bottom center">
            <a href="https://twitter.com/arpit_bhayani">
                <i class="twitter large grey icon"></i>
            </a>
        </div>
    </div>
</div>
