{% assign post=include.post %}
<div class="item">
    <div class="content">
        <article>
            <div class="ui basic segment left aligned">
                <a href="{{post.url}}">
                    <h4>{{post.title}}</h4>
                </a>
                <div class="ui divider"></div>
                <div class="description">{{post.seo.description | truncate: 200 }}</div>
                <div class="ui left aligned basic nospace segment">
                    <span class="ui small grey text">The talk was given at {{ post.given_at }} for {{ post.given_for }}.</span>
                </div>
            </div>
        </article>
    </div>
</div>
