<nav id="navigation-menu" class="navbar tiny" role="navigation">
    <div class="">
        <div class="small-logo">
            <span class="name1">
                Arpit
                <span class="name2">Bhayani</span>
            </span>
            <div class="tag-line">
                {{site.tagline}}
            </div>
        </div>
    </div>
    <div class="right" style='position:fixed;right:20px;top:10px'>
        <div id="social">
            <a href="http://www.facebook.com/itsmearpit" target="_blank" title="Befriend me on Facebook">
                <i class="fa fa-facebook-square fa-1x"></i>
            </a>
            <a href="http://github.com/arpitbbhayani" target="_blank" title="Follow me on Github">
                <i class="fa fa-github fa-1x"></i>
            </a>
            <a href="https://www.linkedin.com/profile/view?id=42931734" target="_blank" title="Connect me on LinkedIn">
                <i class="fa fa-linkedin-square fa-1x"></i>
            </a>
            <a href="{{Resume Link}}" target="_blank" title="Find my resume here">
                <i class="fa fa-paperclip fa-1x"></i>
            </a>
        </div>
    </div>
</nav>