blockquote {
    background-color: #EEE;
    padding: 0.5em 0.5em 0.5em 0.5em;
	border-left: 11px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
}

article:hover {
    background-color: #F5F5F5;
}

.ui.label {
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.28);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.28);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.28);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

img {
    -moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.18);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.18);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

body {
    background-color: #161b2d;
}
footer {
    background: #161b2d;
}

.ui.image {
    margin-bottom: 20px;
}

a.white {
    border-bottom: 2px solid #161b2d;
}

a.white:hover {
    border-bottom: 2px solid #FFF;
}

em {
    font-style: normal;
    color: #AA3232;
    background-color: #EEE;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

li {
    line-height: 1.7285em;
}

pre code {
	line-height: 1.4em;
	font-size: 15px;
}
pre {
    padding: 1em 1em 1em 1em;
	border-left: 11px solid rgba(0, 0, 0, 0.17);
	margin: 1.7em 0 1.7em 0em;
	overflow: auto;
}
/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto;
}
* html pre {
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
}

.redBack {
    background-color: #DB2828 !important;
}

.white {
    color: #FFF !important;
}

.social_icon {
    color: #8AAAB0 !important;
}

.social_icon:hover {
    color: #386E77 !important;
}


.article-title {
    font-size: 42px;
    line-height: 50px;
    position: absolute;
    top: 200px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.article-content {
    color: rgba(0,0,0,0.8);
    word-wrap: break-word;
    font-size: 21px;
    line-height: 1.58;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("/static/images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/*** Parallax ***/
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 400px;
  margin-top: -20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #162B2D;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*
 * Text effects
 */

/*** ***/

/*************************/
/*           Logo        */
/*************************/

.tag-line {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #737C7F;
}

.logo {
    font-family: 'Exo 2', sans-serif;
    font-size: 64px;
    padding: 10px 0;

    cursor: pointer;
}

.logo .tag-line {
    font-size: 32px;
}

.logo .icon {
    position: relative;
    color: #EEE;
    top: -15px;
    font-weight: normal;
}

.logo .name1 {
    padding: 10px 0;
    color: #53D1DB;
}

.logo .name2 {
    padding: 20px 20px;

    color: #EEE;
    background-color: #1c242a;
    -webkit-border-top-right-radius: 15px;
       -moz-border-radius-topright: 15px;
            border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
       -moz-border-radius-topleft: 15px;
            border-top-left-radius: 15px;
}

.small-logo {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;

    cursor: pointer;
    width: 350px;
}

.small-logo .tag-line {
    font-size: 16px;
}

.small-logo .name1 {
    padding: 6px 0;
    color: #EEE;
}

.small-logo .name2 {
    padding: 6px 6px;
    color: #161B2D;
    background-color: #EEE;
    -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
       -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
}
