.megaheader {
  font-size: 1.482354rem;
}

.mega-tagline {
  font-family: monospace, sans-serif, serif;
  font-size: 2rem;
}

#progress-wrapper {
    z-index: 500;
}

.mode-button {
  cursor: pointer;
}

.lightGrey {
  color: #868686 !important;
}

body {
    background-color: #FFF;
}

.main-nav-menu .item,
.main-nav-menu .right.menu .dropdown.item .menu .item {
    font-family: 'Exo 2', 'Arial';
    letter-spacing: 0.0001em;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.main-nav-menu .item:hover {
  background-color: #FFF !important;
}

.main-nav-menu .right.menu .dropdown.item .menu .item:hover,
.main-nav-menu .right.menu .item:hover {
    background-color: #FFF !important;
    color: #27619D;
    border-bottom: 2px solid #27619D;
}

blockquote {
    background-color: #ffffcc;
    padding: 0.5em 0.5em 0.5em 0.5em;
  	border-left: 11px solid rgba(0, 0, 0, 0.17);
  	margin: 1.7em 0 1.7em 0.3em;
  	overflow: auto;
}

/*article {
    background-color: #FFFFFF;
}

article:hover {
    background-color: #F5F5F5;
}*/

.ui.label {
    -moz-box-shadow: 2px 3px 3px rgba(0,0,0,0.28);
    -webkit-box-shadow: 2px 3px 3px rgba(0,0,0,0.28);
    box-shadow: 2px 3px 3px rgba(0,0,0,0.28);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

img.stylish {
    -moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.18);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.18);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

footer {
    background: #FFFFFF;
}

.ui.image {
    margin-bottom: 20px;
}

a.white {
    border-bottom: 2px solid rgba(22, 27, 45, 0.89);
}

a.white:hover {
    border-bottom: 2px solid #FFF;
}

em {
    font-style: italic;
    color: #E91E63;
}

li {
    line-height: 1.6285em;
}

pre code {
	line-height: 1.2em;
	font-size: 14px;
}
pre {
    padding: 1em 1em 1em 1em;
	border-left: 11px solid rgba(0, 0, 0, 0.17);
	margin: 1.7em 0 1.7em 0em;
	overflow: auto;
}
/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto;
}
* html pre {
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
}

.redBack {
    background-color: #DB2828 !important;
}

.white {
    color: #FFF !important;
}

.social_icon {
    color: #8AAAB0 !important;
}

.social_icon:hover {
    color: #386E77 !important;
}

.article-content {
    color: rgba(0,0,0,0.8);
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.58;
}


/*************************/
/*           Logo        */
/*************************/

.tag-line {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #737C7F;
}

.logo {
    font-family: 'Exo 2', sans-serif;
    font-size: 64px;
    padding: 10px 0;

    cursor: pointer;
}

.logo .tag-line {
    font-size: 32px;
}

.logo .icon {
    position: relative;
    color: #EEE;
    top: -15px;
    font-weight: normal;
}

.logo .name1 {
    padding: 10px 0;
    color: #53D1DB;
}

.logo .name2 {
    padding: 20px 20px;

    color: #EEE;
    background-color: #1c242a;
    -webkit-border-top-right-radius: 15px;
       -moz-border-radius-topright: 15px;
            border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
       -moz-border-radius-topleft: 15px;
            border-top-left-radius: 15px;
}

.small-logo {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.small-logo .tag-line {
    font-size: 16px;
}

.small-logo .name1 {
    padding: 6px 0;
    color: #27619D;
}

.small-logo .name2 {
    padding: 6px 6px;
    color: #FFFFFF;
    background-color: #27619D;
    -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
       -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
}
