---
layout: default
category: blog
type: section
title: Blog
---

{% for p in site.categories[page.category] %}
	<article>
            <div class="article-header">
                  <div class="article-title">
                        <a href="{{p.url | prepend: site.baseurl}}">{{p.topic}} | {{p.title}}</a>
                  </div>
                  <div class="article-meta">
                        <span class="article-author">
                              {% if p.authorurl %}
                                    <a href="{{p.authorurl}}">
                              {% endif %}
                                    {{p.author}}
                              {% if p.authorurl %}
                              </a>
                              {% endif %}
                        </span>
                        <span class="seperator">|</span>
                        <span class="article-date">
                              {{p.date | date: '%B %d, %Y' }}
                        </span>
                        <span class="seperator">|</span>
                        <span class="article-category">
                              {{p.category}}
                        </span>
                  </div>
            </div>
            <div class="article-content">
                  <span class="content">
                        {{p.excerpt}}
                  </span>
                  <span class="continue-reading">
                        <a href="{{p.url | prepend:site.baseurl}}">Continue reading 
                              <span class="meta-nav">→</span>
                        </a>
                  </span>
            </div>
      </article>
{% endfor %}