<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include google_analytics.html %}
    <body>
        {% include header.html %}
        <br/>

        <div style="background: #FFF; padding-bottom: 50px;">
            {{content}}
            <div class="ui stackable grid">
                <div class="two wide column"></div>
                <div class="twelve wide column">
                    <div class="ui hidden section divider"></div>
                    {% if page.comments %}
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'arpitbhayani';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                    {% endif %}
                </div>
            </div>
        </div>

        <a href="#" class="back-to-top"></a>
        {% include footer.html %}
    </body>
</html>
