---
layout: default
---

<div class="ui stackable grid">
    <div class="row">
        <div class="ui header center aligned">
            <h1 class="article-title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <img class="ui centered huge image stylish" src="{{page.img}}" alt="{{page.title}}">
    </div>
    <div class="row">
        <div class="article-content">
            {{ content }}
        </div>
    </div>
</div>
<div class="ui basic segment">
    <div class="row">
        {% if page.comments %}
            {% include comment_plugin.html %}
        {% endif %}
    </div>
</div>
