---
layout: default
---

<div itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="ui header center aligned">
    <h1 itemprop="name headline">{{ page.title }}</h1>
  </div>
  <div class="ui center aligned basic fluid segment">
    <div itemprop="author publisher" itemscope="" itemtype="http://schema.org/Person" >
      <img class="ui center middle aligned mini spaced circular image" src="/static/images/profiles/arpit.jpg" />
      <span class="lightGrey" itemprop="name">Arpit Bhayani </span> | <span class="lightGrey"><time datetime="{{page.date}}" itemprop="datePublished">{{page.date | date: '%B %d, %Y'}}</time></span>
    </div>
    <div>
      <br/>
      <div class="ui horizontal list">
        {% for tag in page.tags %}
          <a itemprop="articleSection" href='/tag/{{tag}}.html' class="ui item" data-content="All {{tag}} posts" data-variation="tiny" data-position="bottom center">#{{tag}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <img itemprop="image" class="ui centered large image" src="{{page.img}}" alt="{{page.title}}" />
  <div class="ui hidden divider"></div>
  <div itemprop="articleBody">
      {{ content }}
  </div>
</div>
{% include ads_plugin.html %}
{% if page.comments %}
    {% include comment_plugin.html %}
{% endif %}
