---
layout: default
---

<div class="ui hidden divider"></div>
<div itemscope="" itemtype="http://schema.org/BlogPosting">
    <article>
        <div class="ui basic segment" style="min-height:200px; background: #f2f2f2;">
            <h1 itemprop="name headline" class="ui huge header center aligned" style="margin-top: 60px;">
                {{ page.title }}
            </h1>
        </div>
        <div class="ui text container">
            <div class="ui hidden divider"></div>
            <div class="ui large blue label">
                {{ page.date | date: '%B %d, %Y' }}
            </div>
            <div class="ui hidden divider"></div>
            <div itemprop="articleBody">
                {{ content }}
            </div>
        </div>
    </article>
</div>

{% include ads_plugin.html %}

<div class="ui text container">
    {% if page.comments %}
        {% include comment_plugin.html %}
    {% endif %}
</div>