---
layout: fullpage
---

<div itemscope="" itemtype="http://schema.org/BlogPosting">
    <article>
        <div class="ui basic segment" style="min-height:200px; background: #fff6c2;">
            <h1 itemprop="name headline" class="ui huge header center aligned" style="margin-top: 100px;">
                {{ page.title }}
            </h1>
        </div>
        <div class="ui text container">
            <div class="ui hidden divider"></div>
            <div class="ui large  blue label">
                {{ page.date | date: '%B %d, %Y' }}
            </div>
            <div class="ui hidden divider"></div>
            <div itemprop="articleBody">
                {{ content }}
            </div>
        </div>
    </article>
</div>

<div class="ui text container">
    {% include ads_plugin.html %}

    {% if page.comments %}
        {% include comment_plugin.html %}
    {% endif %}
</div>