---
layout: default
---

<div class="ui hidden divider"></div>
<div class="ui header center aligned">
    <h1 class="article-title">{{ page.title }}</h1>
</div>
<div class="ui center aligned basic fluid segment">
    <img style="margin-bottom: 10px;" class="ui center middle aligned mini spaced circular image" src="/static/images/profiles/arpit.jpg" /><span class="article-author lightGrey">Arpit Bhayani </span> | <span class="article-publish-date lightGrey"> {{page.date | date: '%B %d, %Y'}}</span>
    <div>
        <div class="ui center aligned basic fluid segment">
            <div class="ui horizontal list">
                {% for tag in page.tags %}
                <a style="font-weight: normal;" href='/tag/{{tag}}.html' class="ui item article-category" data-content="All {{tag}} posts" data-variation="tiny" data-position="bottom center">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div>
    {{ content }}
</div>
{% include ads_plugin.html %}
{% if page.comments %}
    {% include comment_plugin.html %}
{% endif %}
