---
layout: default
---

{% include carbon_ads.html %}
<div class="ui hidden divider"></div>
<div itemscope="" itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline" class="ui header center aligned">
        {{ page.title }}
    </h1>
    <div class="ui center aligned basic segment">
        <iframe src="https://ghbtns.com/github-btn.html?user={{page.github_user}}&size=large&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user={{page.github_user}}&size=large&repo={{page.repo}}&type=star&count=true" frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
    </div>
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{page.img}}" />
        <img itemprop="image" class="ui centered large image" src="{{page.img}}" alt="{{page.title}}" />
    </div>
    <div class="ui hidden divider"></div>
    <div itemprop="articleBody">
        {{ content }}
    </div>
</div>

{% if page.comments %}
    {% include comment_plugin.html %}
{% endif %}
