---
layout: default
---

{% include carbon_ads.html %}
<div class="ui hidden divider"></div>
<div>
    <h1 itemprop="name headline" class="ui huge header center aligned">
        {{ page.title }}
    </h1>
    <div>
        <meta itemprop="url" content="{{page.img}}" />
        <img itemprop="image" class="ui centered large image" src="{{page.img}}" alt="{{page.title}}" />
    </div>
    <div>
        {{ content }}
    </div>
</div>

{% if page.comments %}
    {% include comment_plugin.html %}
{% endif %}
